---
title: Stardog Service Broker for PCF (Beta)
owner: Partners
---
<style>
    .note.warning {
        background-color: #fdd;
        border-color: #fbb
    }

    .note.warning:before {
        color: #f99;
     }
</style>

<p class="note warning">
<strong>IMPORTANT:</strong>
The Stardog Service Broker for Pivotal Cloud Foundry (PCF) tile is currently in beta and is intended for evaluation and
test purposes only. Do not use this product in a PCF production
environment. </p>

[Stardog](http://stardog.com) is the knowledge graph that lets you query, search, 
and analyze all enterprise data. Stardog Service Broker for PCF allows apps to 
easily connect to a Stardog server or cluster.

## <a id='overview'></a>Overview

Stardog Service Broker for PCF enables PCF app developers to connect to a Stardog server.

Stardog Service Broker for PCF supports a pre-provisioned service plan called
**perinstance**. A Stardog server must be started out of band and at a
location that PCF can address. When a service instance is created with
the **perinstance** plan the URL and administrator credentials to that
Stardog server must be provided.  The service broker uses that information
to create a Stardog database and associates it with the service
instance.  When an app is bound to that service instance, a new
user is created and granted access to that database and that username is
associated with the bound app.

## <a id='features'></a>Key Features

Stardog Service Broker for PCF includes the following key features:

- Provisions a Stardog database for use with one or more PCF apps
- Securely binds PCF apps to authorized Stardog database users

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information
about Stardog Service Broker for PCF.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v0.9.3</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>Nov 21, 2017</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>v4.2.2 or later</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.9.x</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.9.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
    <tr>
        <td>IPsec support</td>
        <td>Yes</td>
    </tr>
</table>

## <a id="reqs"></a>Requirements

Stardog Service Broker for PCF has the following requirements:

+ A pre-provisioned Stardog server or cluster

For information about how to set up a pre-provisioned Stardog Knowledge Graph server, see [Stardog 4: The Manual](https://docs.stardog.com). 

## <a id="limitations"></a>Limitations

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to the [Pivotal
Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list or
send an email to (mailto:support@stardog.com).

## <a id='license'></a>License

Stardog Service Broker for PCF is released under the Apache 2.0 license.
