---
title: Installing and Configuring Stardog PCF
owner: Partners
---

This topic describes how to install and configure Stardog PCF.

##<a id='install'></a> Install and Configure Stardog PCF

1. Download the product file from Pivotal Network.

1. Navigate to the Ops Manager Installation Dashboard and click **Import
a Product** to upload the product file.

1. Under the **Import a Product** button, click **+** next to the
version number of Stardog PCF. This adds the tile to your staging area.

1. Click the newly added **Stardog** tile.<br><br>

    Stardog PCF typically does not need any special configuration.  If
the p-mysql service with the 100&nbsp;MB plan exists on the Ops Manager in
use then there is no need for any configuration.<br><br>

    However, an alternative MySQL service and plan my be selected.  On the
configuration panel, there is a text box for each of these populated with
default values as shown below:
  ![Configure Stardog PCF](config1.png)

1. Click **Save**.

1. Return to the Ops Manager Installation Dashboard and click **Apply
Changes** to install the Stardog tile.
