---
title: Using Stardog Service Broker for PCF
owner: Partners
---

This topic describes how to use Stardog Service Broker for Pivotal Cloud Foundry (PCF).

##<a id='create'></a> Create an Instance

The Stardog Service Broker for PCF tile deploys a service broker into the PCF environment.
This service broker is then used to connect PCF apps to Stardog
Knowledge Graphs.

### Prerequisites

You need the following to create an instance of a Stardog Service Broker for PCF service:

 + The URL to a pre-provisioned Stardog service
 + The admin username and password for the Stardog service
 + A configuration file with the above information

For information on how to run Stardog please see the
[documentation](https://docs.stardog.com/). An example configuration
file for creating a service is shown below:
 <pre class="json">
  {
    "url": "http://pcftile-1058783714.us-west-2.elb.amazonaws.com:5820",
    "username": "admin",
    "password": "somepassword"
  }</pre>

Once this file is in place create a service with the following command:
 <pre class="terminal">
$ cf create-service Stardog perinstance myservice -c ~/service.json
Creating service instance myservice in org stardog-service-broker-org / space stardog-service-broker-space as admin...
OK
 </pre>

The Stardog Service Broker for PCF service broker instructed Stardog to create a new
knowledge graph and associated it with the newly created PCF service
instance.  It is now ready to be bound to PCF apps.

##<a id='bind'></a> Bind an App to a Service

The **perinstance** plan does not require any additional configuration.
There are a couple of ways to bind a PCF app to a service
instance.  It can either be bound using the **cf bind-service** command or
by adding a **services** stanza to the apps **manifest.yml** file.
More information on this process can be found
[here](https://docs.pivotal.io/p-identity/1-1/bind-apps.html).

When a Stardog Service Broker for PCF service instance is bound to a PCF app a new
Stardog user is created and associated with that PCF app.

##<a id='vcap'></a> VCAP_SERVICES

Once an app is bound to a service instance the needed
connection information and credetials will be available to the PCF app in the
VCAP_SERVICES environment variable.  The Stardog entry has the following
fields:

| Field             | Type      | Description
| -----             | ----      | ------------ |
| url               | string    | The URL of the Stardog service that is bound to the app. |
| db_name           | string    | The Stardog database name to which the app is bound . |
| username          | string    | The username credential that the app can use to connect to the Stardog database. |
| password          | string    | The password credential that the app can use to connect to the Stardog database. |

An example VCAP_SERVICES document is below:

 <pre class="terminal">
{"Stardog":
   [
     {"name": "stardog-service",
      "label": "Stardog",
      "tags": [],
      "plan": "shareddb",
      "credentials": {
          "db_name": "dbABzeMjTwwwvyuoiO",
          "url": "http://somehost.com:5821",
          "password": "QQttqbmLVkzvfaWVKlUrthnT",
          "username": "stardogHOPvOMwo"
      }
     }
   ]
}
 </pre>
